.full-height {
    min-height:60vh;margin:0px;padding:0px;
  }
  .slds__content { 
    height: 90vh;
    position: relative;
    width: 100%;
  }
  .slds-modal__container {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: unset !important;
  }